@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply p-3 bg-gradient-to-r from-primary-100 to-primary-200 text-white rounded-xl text-center cursor-pointer hover:shadow-md;
}

.box {
    @apply w-28 h-28 bg-gradient-to-r from-primary-100 to-primary-200 flex items-center justify-center cursor-pointer hover:shadow-lg;
}

.header {
    @apply p-6 bg-gradient-to-r from-primary-100 to-primary-200 text-white font-medium;
}

.form-input {
    @apply block p-3 border border-black_ori rounded-xl w-full focus:outline-none;
}

.filterBtn {
    @apply text-sm font-medium text-white rounded-full text-center cursor-pointer hover:shadow-md;
}

.label {
    @apply text-sm font-medium rounded-full text-center tracking-wide uppercase;
}

.wrapper-mobile {
    @apply max-w-mobile mx-auto min-h-screen flex flex-col items-center bg-white;
}

.slider_caption {
    @apply text-white font-semibold font-primary text-sm leading-tight;
}

.slider_attribution {
    @apply text-white font-primary text-xs italic;
}

.swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}
